 <div class="cardList">
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card__body">
                <figure>
                    <img src="/assets/image/wYZ8d8pg.webp" alt="">
                </figure>
                <div class="card__details">
                    <div class="card__title">185 متر واحد دو خوابه زعفرانیه </div>
                    <div class="card__price">18900000</div>
                    <div class="card__author">آطانس املاک در زعفرانیه </div>
                </div>
            </div>
        </article>
    </div>