<div class="sidbar">
    <div class="sidbar__list">
        <h4 class="sidbar__title">دسته ها</h4>
    <ul>
        <li><i class="fa fa-house-building"></i><a href="">املاک </a></li>
        <li><i class="fa fa-car"></i><a href="">وسیمخ نقلیه</a></li>
        <li><i class="fa fa-mobile"></i><a href="">کالای دیجیتال </a></li>
        <li><i class="fa fa-lamp"></i><a href="">خانه و آشپزخانه </a></li>
        <li><a href="">خدمات </a></li>
        <li><a href="">وسایل شخصی </a></li>
        <li><a href="">سرگرمی و فراغت </a></li>
        <li><a href="">اجتماعی </a></li>
        <li><a href="">تجهیزات صنعتی </a></li>
        <li><a href="">استخدام و کاریابی </a></li>
    </ul>
    </div>
    
   </div>