$text-dark: #000000;
$text-secondary: gray;




// header

// cards

.card {
  border: {
    radius: 5px;
    width: 1px;
    style: solid;
    color: lightgray;
  }
  .card__body {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    figure {
      padding: 0;
      margin: 0;
      img {
        width: 123px;
        height: 123px;
        border-radius: 5px;
      }
    }
  }
  .card__details {
    display: flex;
    flex-direction: column;
    .card__title {
      flex-grow: 1;
      font-size: 18px;
      font-weight: 600;
      color: $text-dark;
    }

    .card__price {
      color: gray;
    }
    .card__author {
      color: gray;
    }
  }
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


//  sidbar 
.sidbar{
    display: flex;
   
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 700px;
    
     .sidbar__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
      
     }
     .sidbar__title{
        font-size: 13px;
     }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        gap: 20px;
        margin: 0;
       padding: 0;
      }
     
      a {
         
        color: rgb(87, 83, 83);
        text-decoration: none;
        text-align: justify;
        font-size: 18px;
        padding-right: 5px;
      }
      a:hover{
        color: #000000;
      }
}
